// размеры шрифтов
$size_big: 32px;
$size_main: 16px;
$size_small: 14px;

// Цвет текста
$color-black: #000;
$color-white: #fff;
// 
$color-main: blue;
$color-main-light: light(blue, 10%);

// 
$color-grey-dark:  #666666;
$color-grey-light:  #929292;
