// размеры шрифтов
$size_big: 32px;
$size_main: 16px;
$size_small: 14px;

// Цвет текста
$color-dark:#050517;
$color-light:#ffffff;
$color-grey-light:#F2F3FB;
$color-grey:#AFB1CC;
$color-grey-dark:#585E8C;
$color-text-dark:#060417;
$color-text-light: #ffffff;
