@import "_variables";
@import "_mixins";
@import "_keyframes";
@import "_fonts";

// @import "../../node_modules/swiper/swiper.min.css"; // Slider: npm install swiper, site: https://swiperjs.com/get-started
// @import "../../node_modules/air-datepicker/air-datepicker.css"; // Datepicker: npm i air-datepicker -S, site: https://air-datepicker.com/ru

html{
	--vh: 1vh;
}
html, body{
	font-family: 'Jost', sans-serif;
	font-style: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-size-adjust: none;
	color: $color-text-light;
	background-color: $color-dark;
	scroll-behavior: smooth;
}
*{
	box-sizing: border-box;
}
a{
	@include reset-link;
}
img{
	border: none;
	max-width: 100%;
}
button{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&:focus,
	&:active{
		outline: 0px solid transparent;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input.error,
textarea.error {
	border-color: red;
}

.workemail{
  display: none;
}
.container{
	max-width: 1220px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
.wrapper{
	// min-height: 100vh;
	min-height: calc(var(--vh) * 100);
	display: flex;
	// flex-direction: column;
}
.content{
	color: $color-dark;
	flex-grow: 1;
	border-radius: 15px;
	margin: 20px 20px 20px 0;
	background-color: #e0e0e0;
}
.login{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 100px;
	&__nav{
		display: flex;
		&-item{
			@include reset-button;
			margin: 0 20px;
			padding: 10px;
			min-width: 115px;
			border-radius: 10px;
			text-align: center;
			border: 1px solid solid transparent;
			transition: border .3s;
			&_active{
				border: 1px solid solid $color-grey-dark;

			}
		}
	}
	&__wrap{
		display: flex;
		max-width: 380px;
		width: 100%;
		padding: 40px;
		border-radius: 20px;
		overflow: hidden;
		// border: 1px solid $color-grey-dark;
	}
	&__field{
		display: block;
		
		margin-bottom: 20px;
	}
	&__input{
		@include reset-input;
		height: 42px;
		width: 100%;
		border-radius: 10px;
		padding: 0 15px;
		background-color: #282C4D;
		&::placeholder{
			color: $color-grey-dark;
		}
	}
	&__password-recovery{
		display: block;
		text-align: right;
		margin-top: 10px;
		color: $color-grey-dark;
		&:hover{
			transition: color .3s;
			color: #3F60C5;
		}
	}
	&__btn{
		@include reset-button;
		padding: 9px 15px;
		text-align: center;
		width: 100%;
		background-color: #3F60C5;
		border-radius: 10px;
	}
	&__sign-up{
		display: block;
	}
	&__sign-in {
		display: block;
	}
}
.form__sign-in{
	transition: all .3s;
	transform: rotateY(90deg);
	width: 0;
	flex-shrink: 0;
}
.form__sign-up{
	transition: all .3s;
	transform: rotateY(90deg);
	width: 0;
	flex-shrink: 0;
}
.form__active{
	transition: all .3s;
	transform: rotateY(0deg);
	width: 300px;
}
.sidebar{
	position: sticky;
	top: 0;
	max-width: 300px;
	width: 100%;
	padding: 20px;
	&-logo{
		display: flex;
		justify-content: space-between;
		align-content: center;
		padding: 8px 0 ;
		margin-bottom: 30px;
		&__link{
			display: flex;
			align-items: center;
		}
		&__img{
			height: 42px;
			width: 100%;
			flex-shrink: 0;
		}
	}
	&-version{
		font-size: 11px;
		font-weight: 200;
		color: #282C4D;
	}
	&__burger{
		@include reset-button;
		display: none;
		width: 24px;
		height: 24px;
		background-image: url(/img/icon_menu.svg);
		background-repeat: no-repeat;
		background-position: center;
		
		}
	&__search{
		position: relative;
		display: flex;
		align-items: center;
		
		&-input{
				@include reset-input;
				height: 42px;
				width: 100%;
				font-size: 14px;
				padding: 0 40px 0 15px;
				border-radius: 15px;
				border: 1px solid transparent;
				background-color: #282C4D;
				transition: border .3s;
				&::placeholder {
					color: $color-grey;
				}
				&:focus {
					border: 1px solid $color-grey-dark;
				}
			}
		&-button{
			@include reset-button;
			position: absolute;
			right: 15px;
			width: 24px;
			height: 42px;
			background-color: $color-grey;
			mask-image: url(/img/icon_search.svg);
			mask-position: center;
			mask-repeat: no-repeat
		}
	}
	
	&
	&-account{
		padding: 15px;
		margin: 14px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 15px;
		border: 1px solid transparent;
		background-color: #282C4D;
		transition: border .3s;
		&:hover{
			border: 1px solid $color-grey-dark;
		}
		&__info{
			display: flex;
			align-items: center;
		}
		&__img {
			width: 42px;
			height: 42px;
			border-radius: 20px;
			flex-shrink: 0;
		}
		&__text{
			margin-left: 15px;
			& p{
				padding: 0;
				margin: 0;
			}
		}
		&__name{
			font-size: 14px;
		}
		&__position{
			font-size: 11px;
			font-weight: 200;
			font-style: italic;
			color: $color-grey-dark;
		}
		&__segue{
			display: block;
			width: 32px;
			height: 32px;
			border-radius: 7px;
			flex-shrink: 0;
			background-image: url(/img/icon_arrow-right.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-color: #3F60C5;
		}
	}
	&-menu{
		&__list{
			@include reset-list;
		}
		&__item{
			position: relative;
			margin: 7px 0;
			border-radius: 15px;
			background-color: transparent;
			transition: all .3s;
			&:hover{
				background-color: #282C4D;
			}
			&_active {
					background-color: #3F60C5;
				}
		}
		&__link{
			display: flex;
			padding: 14px;
			&::before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				margin-right: 10px;
				background-color: white;
				mask-position: center;
				mask-repeat: no-repeat;
				mask-size: contain;
				}
			&_note {
				&::before {
					mask-image: url(/img/icon_notes.svg);
				}
			}

			&_bonus {
				&::before {
					mask-image: url(/img/icon_location.svg);
				}
			}

			&_service {
				&::before {
					mask-image: url(/img/icon_service.svg);
				}
			}
		}
		&__notice{
			position: absolute;
			right: 14px;
			top: 0;
			bottom: 0;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 26px;
			height: 20px;
			font-size: 11px;
			background-color: #282C4D;
			border-radius: 5px;
			flex-shrink: 0
		}
	}
}
.page-title{
	font-size: 20px;
	text-transform: uppercase;
}
.meet{
	&__new{
		@include reset-button;
		padding: 10px 20px;
		color: white;
		background-color: #3F60C5;
		border-radius: 10px;
	}
	&__actual{}
	&__completed{}
	&__title{}
	&__item{
		display: flex;
		padding: 30px 40px;
		margin-top: 20px;
		background-color: white;
		border-radius: 15px;
		// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
		align-items: center;
		justify-content: space-between;
		&_completed{
			transition: opacity .3s;
			opacity: 0.8;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__column{
		max-width: 230px;
		width: 100%;
		margin: auto;
		&_flex{
			display: flex
		}
	}
	&__client-avatar{
		width: 42px;
		height: 42px;
		border-radius: 21px;
		overflow: hidden;
		flex-shrink: 0;
	}
	&__info{
		margin-left: 20px;
	}
	&__client-name{
		display: block;
	}
	&__client-car{
		display: block;
		color: $color-grey-dark;
	}
	&__data{
		display: block;
	}
	&__name-service{
		display: block;
		color: $color-grey-dark;
	}
	&__status{
		padding: 10px;
		border-radius: 5px;
		color: white;
		background-color: #3F60C5
	}
	&__price{}
	&__more{
		@include reset-button;
		width: 42px;
		height: 42px;
		border-radius: 5px;
		padding: 9px;
		background-image: url("/img/icon_more.svg");
		background-position: center;
		background-repeat: no-repeat;
		transition: all .3s;
		&:hover{
			background-color: $color-grey;
		}
	}
	
}
.contacts{
	display: flex;
	justify-content: space-between;
	&__title{
		font-size: 20px;
		font-weight: 600;
	}
	&__map{
		width: 48%;
	}
	&__info{
		width: 48%;
	}
	&__icon{
		display: inline-block;
		margin-right: 20px;
		width: 24px;
		height: 24px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.8;
		transition: opacity .3s;
		&:hover{
			opacity: 1;
		}
	}
	&__instagram{
		background-image: url(/img/icon_instagram.svg)
	}
	&__twitter{
		background-image: url(/img/icon_twitter.svg)
	}
	&__telegram{
		background-image: url(/img/icon_telegram.svg)
	}
}
.service-item{
	padding: 30px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 20px;
	
	&__title{
		margin: 0;
	}
	&__desc{}
	&__price{
		margin: 0;
	}
}
/* ПОДКЛЮЧЕНИЕ СТИЛЕЙ АДАПТИВА */
@import "_response";
/* НИЖЕ СТЕЛЕЙ НЕ ДОЛЖНО БЫТЬ!!! */