extends layout.pug

block variables
	- var pageTitle = "Услуги"
block content
	div.container
		p.page-title #{pageTitle}
		each item, index in services
			div.service-item
				h3.service-item__title=item.name
				p.service-item__desc=item.desc
				p.service-item__price=item.price+' руб'
				