-
	var versionFiles = 0,
	menu = [
		{	
			"title": "Запись",
			"link": "#",
			"class":"sidebar-menu__link_note",
		},
		{	
			"title": "Сервис",
			"link": "#",
			"class":"sidebar-menu__link_service",
		}, 
		{	
			"title": "Бонусы",
			"link": "#",
			"class":"sidebar-menu__link_bonus",
		},
		
	]
	;