-
	var versionFiles = 0,
	menu = [
		{	
			"title": "Записи",
			"link": "index.html",
			"class":"sidebar-menu__link_note",
		},
		{	
			"title": "Сервис",
			"link": "service.html",
			"class":"sidebar-menu__link_service",
		}, 
		{	
			"title": "Бонусы",
			"link": "bonus.html",
			"class":"sidebar-menu__link_bonus",
		},	
	]
	account = [
		{	
			"name": "Константин Константинопальский",
			"position": "Главный уборщик",
		},
	]
	;