-
	var versionFiles = 0,
	menu = [
		{	
			"title": "Записи",
			"link": "index.html",
			"notif": "0",
			"class":"sidebar-menu__link_note",
		},
		{	
			"title": "Услуги",
			"link": "service.html",
			"class":"sidebar-menu__link_service",
		}, 
		{	
			"title": "Связаться с нами",
			"link": "contacts.html",
			"class":"sidebar-menu__link_bonus",
		},	
	]
	account = [
		{	
			"name": "Константин Константинопальский",
			"position": "Клиент",
		},
	]
	meet_item = [
		
		{
			"img":"/img/account.jpg",
			"name":"Имя Фамилия Отчество",
			"car":"BMW для п",
			"date":"31.12.2023",
			"time":"00:00",
			"service":"Установка охранных систем",
			"status":"В работе",
			"price":"18349",
		},
		{
			"img":"/img/account.jpg",
			"name":"Имя Фамилия Отчество",
			"car":"Lada",
			"date":"31.12.2029",
			"time":"00:00",
			"service":"Установка охранных систем",
			"status":"Выполнено",
			"price":"885757",
		},
	]
	;