-
	var versionFiles = 0,
	menu = [
		{	
			"title": "Главная",
			"link": "/",
		},
		{	
			"title": "о компании",
			"link": "#",
		},
		{	
			"title": "новости",
			"link": "#",
		},
		{	
			"title": "контакты",
			"link": "#",
		},
	]
	;