-
	var versionFiles = 0,
	menu = [
		{	
			"title": "Заявки",
			"link": "index.html",
			"class":"sidebar-menu__link_note",
		},
		{	
			"title": "Услуги",
			"link": "service.html",
			"class":"sidebar-menu__link_service",
		}, 
		{	
			"title": "Связаться с нами",
			"link": "bonus.html",
			"class":"sidebar-menu__link_bonus",
		},	
	]
	account = [
		{	
			"name": "Константин Константинопальский",
			"position": "Клиент",
		},
	]
	;